name: Pruebas de Integración
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Configurar Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Instalar dependencias
      run: npm install
    - name: Ejecutar pruebas de integración
      run: npm run integration-test