#ejecuta el proyecto de pruebas e2e en la carpeta e2e, necesitas hacer npm install y luego los comandos de cypress
name: Pruebas E2E
on:
  workflow_dispatch:
  
jobs:
  e2e_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository 
      uses: actions/checkout@v3
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'
    - name: Install dependencies
      run: |
        cd e2e
        npm install
    - name: Run Cypress tests
      run: |
        cd e2e
        npx cypress run --record --key ${{ secrets.CYPRESS_RECORD_KEY }}